<%- include("partials/header") %> 

<h1>Contact</h1>
<p><%= stringValue %> <a href="mailto:harshsri0080@gmail.com">harshsri0080@gmail.com</a> <%= string2Value %></p>

<%- include("partials/footer") %> 