.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #959595;
}

@keyframes navigator {
    100%{font-size: x-large;}
}

.navbar-nav  li a:hover {
    color: #DDD0C8 !important;
    animation: navigator 0.4s;
    animation-fill-mode: forwards;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #DDD0C8;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
